.popler{
        /* background: linear-gradient(180deg, #eeeffe, #e1ffea22, #fde1ff 80%); */
flex-direction: column;
 display: flex;
  /* flex-wrap: wrap; */
    box-sizing: border-box;
    max-width: 100%;
    justify-content: space-between;
    border-radius: 25px;
    border: 1px solid #ddd;
    margin-top: 20px;
    
}




@media (max-width: 600px) {
  .popler {
    flex-wrap: wrap;
   
  }
  /* .popler-container{
  display: flex;
    width: fit-content;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    justify-items: center;
} */

}